<html lang="en">
	<head>
	<meta charset="utf-8"></meta>
	<link rel="stylesheet" href="interface.css">
	<title>Number Game</title>
	</head>
	<body>
		

		<div id="app">
			<div id="numberdisplay" class="displaytext">
				Your Number is {{ player.formattednumber }} (+{{format(player.numberPerSecond)}}/s)<button onclick="game.click()">Increase Number by {{format(player.numberperclick)}}</button>
			</div>
			<div id="mainmenuselect">
				<button class="menubutton" id="producersmenubutton" onclick="game.switchmenu('producertab')"><h3>Producers</h3></button>
				<button class="menubutton" id="sacrificemenubutton" onclick="game.switchmenu('sacrificetab')"><h3>Sacrifice</h3></button>
				<button class="menubutton" id="optionsmenubutton" onclick="game.switchmenu('optionstab')"><h3>Options</h3></button>
				<button class="menubutton" id="statisticsmenubutton" onclick="game.switchmenu('statisticstab')"><h3>Statistics</h3></button>
			</div>
			<div id="producertab" class="menu">
				<div id="multsandprods">
				<div id="multipliers" class="columndisplay">
					<div class="multiplierdisplay" v-for="multiplier in player.multipliers"> 
						<multiplierdisplay :multiplier="multiplier"/>
					</div> 
				</div>
				<div id="producers" class="columndisplay">
					<div class="producerdisplay" v-for="producer in player.producers"> 
						<producerdisplay :producer="producer"/>
					</div> 
				</div>
				</div>
				<div id="tierupstuff">
					<button onclick="player.tierUp()">{{player.tierUpbuttontext}}</button>
				</div>
			</div>
			<div id="sacrificetab" class="menu">
				<span class="displaytext" id="NPdisplay">You have {{format(player.sacrifice.numericpoints)}} Numeric Points</span>
				<button id="sacrificebutton" onclick="player.sacrifice.sacrifice()">{{player.sacrifice.sacrificebuttontext}}</button>
				<div id="sacrificerepeatableupgrades">
					<div>
					<sacrificeupgradedisplay :upgrade="player.sacrifice.repeatableclickupgrade"/>
					</div>
					<div>
					<sacrificeupgradedisplay :upgrade="player.sacrifice.repeatablestartingnumberupgrade"/>
					</div>
					<div>
					<sacrificeupgradedisplay :upgrade="player.sacrifice.repeatablenumbermultupgrade"/>
					</div>
					<div>
					<sacrificeupgradedisplay :upgrade="player.sacrifice.repeatablenpmultupgrade"/>
					</div>
				</div>
				<div id="sacrificemaxupgrades">
					<div class="columndisplay">
						<div v-for="upgrade in player.sacrifice.maxproducerupgrades">
							<sacrificeupgradedisplay :upgrade="upgrade"/>
						</div>
					</div>
					<div class="columndisplay">
						<div v-for="upgrade in player.sacrifice.maxmultupgrades">
							<sacrificeupgradedisplay :upgrade="upgrade"/>
						</div>
					</div>
				</div>
			</div>
			<div id="optionstab" class="menu">
				<button onclick="save()">Save</button>
				<button onClick="load()">Load</button>
				<div id="patch notes"  class="displaytext">
					<h2>patch notes</h2>
					<h3>Version 0.2.2-3</h3>
					-changed formula for overall rating: times sacrificed is weighted slightly more<br>
					-fixed a few bugs with acheivements
					<h3>Version 0.2.2-2</h3>
					-fixed achievements that multiply all number gain not affecting clicking<br>
					-maxxed out sacrifice upgrades correctly display as maxxed<br>
					<h3>Version 0.2.2-1</h3>
					-fixed a bug making sacrifice impossible<br>
					<h3>Version 0.2.2</h3>
					-un-nerfed some sacrifice upgrades<br>
					-added a bunch more achievements (there are now 40 total)<br>
					-invisible achievements now show as "????????" rather than simply not existing<br>
					-added statistics, including an overall rating you can use to compete with your friends!</br>
					<h3>Version 0.2.1</h3>
					-fixed achievements not actually giving starting number<br>
					-added a couple more achievements
					<h3>Version 0.2.0</h3>
					-fixed incorrect starting number from a certain sacrifice upgrade<br>
					-rebalanced some NP upgrades in preperation for achievents<br>
					-added 11 basic achievements, more coming soon!<br>
					-added a total number/second display<br>
					<h3>emergency hotfix 12/4 9:43 AM</h3>
					-fixed producers not existing in loaded saves.  don't worry, they're still in the saves.  they just didn't load correctly<br>
					<h3>Version 0.1.1-1</h3>
					-tier up button now says if you are at the max tier<br>
					-loading multipliers now does not load their previous costs and stuff, so that I can change their costs without people resetting the game<br>
					-fixed formatting of patch notes (x2)<br>
					<h3>Version 0.1.1</h3>
					-increased tier required for sacrifice by 1<br>
					-added patch notes<br>
					-made sacrifice button show if you can sacrifice or not<br>
					<h3>Version 0.1.0</h3>
					-release<b>
				</div>
			</div>
			<div id="statisticstab" class="menu">
				<div id="statisticssubmenuselect">
					<button class="menubutton" id="achievementsmenubutton" onclick="game.switchmenu('achievementstab')"><h4>Achievements</h4></button>
				</div>
				<div class="displaytext" id="statisticsdisplay">
					<div v-for="statistic in player.statistics.statistics">
					{{statistic}}<br>
					</div>
				</div>
			</div>
			<div id="achievementstab" class="menu">
				<div v-for="achievement in player.achievementshandler.achievements">
					<achievementdisplay :achievement="achievement"/>
				</div>
			</div>
		</div>	
	</body>
	<script src="libraries/vue.js"></script>
	<script src="https://cdn.rawgit.com/erosson/swarm-numberformat/v0.4.0/dist/swarm-numberformat.min.js"></script>
	<script src="libraries/break_infinity.js"></script>
	<script src="multiplier.js"></script>
	<script src="producer.js"></script>
	<script src="components/producer.js"></script>
	<script src="components/multiplier.js"></script>
	<script src="sacrificeupgrade.js"></script>
	<script src="sacrifice.js"></script>
	<script src='achievement.js'></script>
	<script src="components/achievement.js"></script>
	<script src="statistics.js"></script>
	<script src="player.js"></script>
	<script src="loop.js"></script>
	<script src="main.js"></script>
	<script src="save.js"></script>

</html>
