body{
	background-color: black;
}
.displaytext{
	color: white;
}
#multsandprods{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
#sacrificemaxupgrades{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.columndisplay{
	display: flex;
	flex-direction: column;
}
#mainmenuselect{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.menubutton{
	display: none;
}
.achievementdisplay{
	padding: 10px;
	padding-bottom: 20px;
	border: solid 3px;
	border-color: #555555;
}
.completeachievement{
	border-color: #00ff00;
}
#statisticssubmenuselect{
	display: flex;
	flex-direction: row;
}
#statisticsdisplay{
	display: flex;
	flex-direction: column;
}
.factordisplay {
	display: flex;
	flex-direction: row;
	height: 50px;
	border: solid 3px;
	padding: 10px;
	margin: 5px;
	border-color: #a88d32;
	align-items: center;
}
.factordisplay > *{
	margin: 5px;
}
button .sacrificecolored{
	
}
.factorcolored{
	border: solid 3px #a88d32;
}
button{
	border-radius: 3px;
}
button:hover{
	border-radius: 0px;
}
#factorizersinfodisplay{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.lockedfactor{
	display:none;
}
.factorcoloredtext{
	color: #a88d32;
}